<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Posts</title>

    <% if(logUser.setting.theme == "white"){%>
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <%}else{%> 
        <link rel="stylesheet" href="assets/css/dark.css">
        <link rel="stylesheet" href="assets/css/darkBoot.css">
        <%}%>

    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
<!-- sidebar -->

<% include ./partial/sidebar/sidebarEditBlog%>

<!-- end sidebar -->
        <div id="main">
            <!-- sidebar -->

            <% include ./partial/navbar%>

            <!-- end sidebar -->

            <div class="main-content container-fluid">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>All Post</h3>
                            <p class="text-subtitle text-muted">All Post Created, Saved As Draft Or Published. To create A Post Go <a
                                    href="/users/create">here</a>.</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/users/">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <% if(data){ %>
                    <div class="card">
                        <div class="card-header">
                            Sort By Last Added
                        </div>
                        <div class="card-body">
                            <table class='table table-striped' id="table1">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Title</th>
                                        <th>Preview</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var num = 1%>
                                    <%data.forEach((value)=>{%>
                                      <% var d = new Date(value.date)%>
                                    <tr>
                                        <td><%=  num%></td>
                                        <td><%= value.title%></td>
                                        <td>
                                            <% if(value.title.length < 70){ %>
                                                <%= value.preview.substr(0,60)%> ...
                                            <% } else {%>  
                                                <%= value.preview%>
                                            <%}%></td>
                                        <td><%= d%></td>
                                        <td>
                                            <% if(value.publish == "Published"){ %>
                                                <span class="badge bg-success"><%= value.publish%></span>
                                            <% } else if(value.publish == "Draft"){ %>  
                                                <span class="badge bg-warning"> Draft</span>
                                            <%} else {%>
                                                <span class="badge bg-danger"> Unpublished</span>
                                                <% } %>
                                        </td>
                                        <td>
                                            <a href="/users/editone/<%= value._id%>" class="btn icon btn-primary"><i data-feather="edit"></i></a>
                                        </td>
                                    </tr>
                                    <%num +=1%>
                                    <%});%> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } else{ %>  
                        <div class="card">                           
                            <div class="block">
                              <div class="card-header"><strong>You Have No Record Or Post Yet </strong></div>
                              <div class="card-body">
                                <form class="form-inline">
                                  <div class="form-group">
                                    <a href="/users/create" class="btn btn-primary">Create A New Blog  </a>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                       <% } %>

                </section>
            </div>

            <footer>
                <% include ./partial/footer%>
            </footer>
        </div>
    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="assets/js/vendors.js"></script>

    <script src="assets/js/main.js"></script>
</body>

</html>