<!DOCTYPE html>

<!--[if lt IE 9]>
<html id="ie" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome To VitaRead	</title>

    <!--fonts -->
    <!-- favicon & links -->
    <link rel="shortcut icon" href="/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    

    <!--[if lt IE 9]>
      <script src="/assets/vendor/html5shiv.js" type="text/javascript"></script>
      <![endif]-->
      <!-- watching this for now -->
      <link rel="stylesheet" href="https://use.typekit.net/php5dmi.css">
      
      
      <script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf-8" src="/assets/slick/slick.js"></script>

      
	  <link rel="canonical" href="https://vitaread.art/" />
	  <link rel="next" href="https://vitaread.art/page/2/" />
	  <meta property="og:locale" content="en_US" />
	  <meta property="og:type" content="article" />
	  <meta property="og:title" content="VitaRead HomePage" />
	  <meta property="og:url" content="https://vitaread.art/" />
	  <meta property="og:site_name" content="Vita Read" />
	  <meta property="og:image" content="/logo.jpg" />
	  <meta property="og:image:width" content="600" />
	  <meta property="og:image:height" content="450" />
	  <meta name="twitter:card" content="summary_large_image" />
	  <meta name="twitter:site" content="@vitaread" />
	  <script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://vitaread.art","url":"https://vitaread.art","name":"Vita Read","description":"Economy, Economics, Nigeria, West Africa, Blog","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://vitaread.art/search/{search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"CollectionPage","@id":"https://vitaread.art/","url":"https://vitaread.art/","name":"Vita read the joint for economy blog","isPartOf":{"@id":"https://vitaread.art"},"breadcrumb":{"@id":"https://vitaread.art/"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://vitaread.art/"]}]},{"@type":"BreadcrumbList","@id":"https://vitaread.art/","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://vitaread.art"},{"@type":"ListItem","position":2,"name":"business","item":"https://vitaread.art/tags/business"},{"@type":"ListItem","position":3,"name":"All"}]}]}</script>
	  <!-- / Yoast SEO plugin. -->
	  
	  <!-- Not Sorted -->
	  <!-- Not Sorted -->
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https\:\/\/twemoji.maxcdn.com\/v/13.1.0\/twemoji.min.js"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([10084,65039,8205,55357,56613],[10084,65039,8203,55357,56613])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
	  <!-- Not Sorted -->
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wp-block-library-css'  href='/assets/css/block-library/style.min.css?ver=175365375' type='text/css' media='all' />
<style id='wp-block-library-inline-css' type='text/css'>
.has-text-align-justify{text-align:justify;}
</style>
<link rel='stylesheet' id='mediaelement-css'  href='/assets/css/js/mediaelement/mediaelementplayer-legacy.min.css?ver=222658204' type='text/css' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css'  href='/assets/css/js/mediaelement/wp-mediaelement.min.css?ver=451034370' type='text/css' media='all' />
<link rel='stylesheet' id='jpibfi-style-css'  href='/assets/css/client.css?ver=449244918' type='text/css' media='all' />

<link rel='stylesheet' id='cup-of-jo-style-css'  href='/assets/css/style.css?ver=434304315' type='text/css' media='all' />

<link rel='stylesheet' id='jetpack_css-css'  href='/assets/css/jetpack.css?ver=205651337' type='text/css' media='all' />
<link crossorigin="anonymous" rel='stylesheet' id='googleFonts-css'  href='https://fonts.googleapis.com/css?family=Karla%3A400%2C400italic%2C700%2C700italic%7COpen+Sans%3A400italic%2C700italic%2C700%2C400&#038;ver=47549764' type='text/css' media='all' />
	  <!-- Not Sorted -->
<script type='text/javascript' id='theme-js-extra'>
/* <![CDATA[ */
/* ]]> */
</script>
	  <!-- Not Sorted -->
	  <script type='text/javascript' src='/assets/js/theme.js?ver=249728313' id='theme-js'></script>
	  <script type='text/javascript' src='/assets/js/jquery.min.js?ver=80352318' id='jquery-core-js'></script>
	  <script type='text/javascript' src='/assets/js/jquery-migrate.min.js?ver=468554891' id='jquery-migrate-js'></script>
	  <script type='text/javascript' src='/assets/js/jquery.fitvids.js?ver=237809199' id='fitvids-js'></script>
	  <script type='text/javascript' src='/assets/js/jquery.bxslider.min.js?ver=512769732' id='bxslider-js'></script>
	  <script type='text/javascript' src='/assets/js/validation.js?ver=155543286' id='mailchimp-validate-js'></script>
	  <script type='text/javascript' src='/assets/js/imagesloaded.min.js?ver=105439335' id='imagesloaded-js'></script>
	  <script type='text/javascript' src='/assets/js/isotope.pkgd.min.js?ver=80225400' id='isotope-js'></script>
	  

		<style type='text/css'>img#wpstats{display:none}</style>
		<!-- Connexity Header Snippet -->
		<!-- <script type='text/javascript'>var _CXT_T = _CXT_T || {}; _CXT_T["3"] = _CXT_T["3"] || {q: []};
			(function(){var s=document.createElement('script');s.type='text/javascript';
			s.async=true;s.src=((document.location.protocol=='https:')?'https://t.cxt.ms/':'http://s.cxt.ms/') + "init.3.0.js";
			var e=document.getElementsByTagName('script')[0];e.parentNode.insertBefore(s,e);})();
		</script> -->
		<!-- There is no amphtml version available for this URL. -->			<style type="text/css">
				/* If html does not have either class, do not show lazy loaded images. */
				html:not( .jetpack-lazy-images-js-enabled ):not( .js ) .jetpack-lazy-image {
					display: none;
				}
				</style>
			<script>
				document.documentElement.classList.add(
					'jetpack-lazy-images-js-enabled'
					);
					</script>
					<!-- Easy Columns 2.1.1 by Pat Friedl http://www.patrickfriedl.com -->
					<link rel="stylesheet" href="/assets/css/easy-columns.css" type="text/css" media="screen, projection" />
					<style type="text/css" id="wp-custom-css">

			
			.archive #content,
			.search #content {
				width: 88.8%;
			}

			.article-post p iframe {
				width: 100%;
			}
			
@media all and (max-width: 480px) {

    .archive #content,
    .search #content {
		width: unset;
    }
}

.article-left-rail {
	min-height: unset !important;
}		</style>
		</head>
		
		<body
		class="archive category category-weekend category-1309 published_2021"    >
		<!-- // Done -->
		<div>

	<div id="page">
		<header id="site-header" role="banner">
            <div class="home-page-container">
                <nav id="access" role="navigation">
                    <div class="trigger-menu-wrapper">
                      <ul class="desktop-nav">
                          <div class = "first-header-list">
							<li id="style-menu"><a href="/tags/business">Business</a>
								<ul class="sub-cat">
									<li><a href="/tags/economy">Economy</a></li>
									<li><a href="/tags/market">Market</a></li>
									<li><a href="/tags/Coronavirus">Corona Virus</a></li>
									<li><a href="/tags/compaines">Companies</a></li>
									<li><a href="/tags/finance">Finance</a></li>
								</ul>
							</li>
							<li id="design-menu"><a href="/tags/essay">Essay</a>
								<ul class="sub-cat">
									<li><a href="/tags/term-paper/">Term Papers</a></li>
									<li><a href="/tags/research">Research</a></li>
									<li><a href="/tags/favorite-books/">Favorite Books</a></li>
									</ul>
								</li>
								<li id="food-menu"><a href="/tags/world">World</a>
									<ul class="sub-cat">
										<li><a href="/tags/nigeria">Nigeria</a></li>
										<li><a href="/tags/africa/">Africa</a></li>
										<li><a href="/tags/asia/">Asia</a></li>
										<li><a href="/tags/europe/">Europe</a></li>
										<li><a href="/tags/britain/">Britain</a></li>
										<li><a href="/tags/america/">America</a></li>
										<li><a href="/tags/middle-east/">Middle East</a></li>
									</ul>
								</li>
								</div><div class="header-logo"><a href="/" class="logo"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 327.39 36.05" style="enable-background:new 0 0 327.39 36.05;" xml:space="preserve">
                                      <g>
                                          <path d="M305.13,0.05c-12.04,0-22.21,8.21-22.21,17.93c0,9.79,10.17,18.07,22.21,18.07c12.07,0,22.26-8.27,22.26-18.07   C327.39,8.26,317.2,0.05,305.13,0.05z M290.42,17.98c0-10.23,5.5-16.34,14.71-16.34c9.21,0,14.71,6.11,14.71,16.34   c0,14.87-10.29,16.47-14.71,16.47C300.71,34.45,290.42,32.85,290.42,17.98z"></path>
                                          <path d="M64.07,18.36c0,0.31,0,0.63,0.01,0.93c-0.01-0.11-0.01-0.23-0.01-0.33V18.36z"></path>
                                          <path d="M127.47,1.11l-15.13,0v33.82h6.99V20.14h8.31c10.98,0,17.54-3.74,17.54-10.01C145.18,4.16,139.22,1.12,127.47,1.11z    M138.36,10.58c0,5.39-3.46,8.26-10.89,8.26h-8.14V2.42h8.04C133.08,2.42,138.36,3.72,138.36,10.58z"></path>
                                          <path d="M182.79,9.99l-0.09-0.03c-1.41-0.47-2.96-0.72-4.5-0.72c-1.53,0-3.09,0.25-4.48,0.71l-0.08,0.03   c-3.37,1.15-5.46,3.36-5.46,5.79c0,2.46,2.11,4.7,5.44,5.82l0.09,0.04c1.41,0.47,2.96,0.72,4.5,0.72c0,0,0,0,0.01,0   c1.52,0,3.07-0.25,4.47-0.71l0.1-0.03c3.37-1.15,5.47-3.38,5.47-5.83C188.25,13.35,186.16,11.14,182.79,9.99z M178.24,21.78   l-0.03-0.27c-4.67,0-5.37-3.57-5.37-5.74c0-2.13,0.7-5.7,5.4-5.7c0,0,0,0,0,0c4.65,0.01,5.35,3.58,5.35,5.72   c0,2.13-0.69,5.7-5.35,5.71L178.24,21.78z"></path>
                                          <polygon points="211.81,16.26 211.81,15.06 198.28,15.06 198.01,15.07 198.01,27.8 202.7,27.8 202.7,21.51 210.14,21.51    210.14,20.31 202.7,20.31 202.7,16.26  "></polygon>
                                          <path d="M38.6,29.24c-3.95,2.92-9.07,5.17-15.33,5.17c-5.27,0-16.25-3.07-16.25-16.47c0-9.66,7.23-16.34,17.66-16.34   c5.95,0,9.5,1.88,12.46,4.06l1.44-1.25C34.66,1.64,30.5,0,22.97,0C10.31,0,0,7.5,0,17.93C0,28.6,9.52,36,22.32,36   c7.2,0,13.2-2.04,17.66-5.46C39.49,30.08,39.01,29.62,38.6,29.24z"></path>
                                          <path d="M92.84,1.11v18.07c0,11.31-7.36,16.39-17.56,16.79c-11.85-0.38-18.1-6.33-18.1-17.24V1.11h6.88v17.84   c0,0.11,0,0.23,0.01,0.33c-0.01,0.18,0,0.36,0.01,0.54c0.36,8.91,5.04,14.19,13.54,14.19c7.88,0,13.52-5.98,13.56-14.58V1.11H92.84   z"></path>
                                          <path d="M257.23,1.11v17.84c0,0.11,0,0.23-0.01,0.33c0.01,0.18,0,0.36-0.01,0.54c-0.36,8.91-5.04,14.19-13.54,14.19   c-5.41,0-9.76-2.81-11.97-7.36l-1.53,0.71c2.74,5.63,8.56,8.32,15.85,8.61c11.85-0.38,18.1-6.33,18.1-17.24V1.11H257.23z"></path>
                                      </g>
									</svg></a></div>
							<div class="sec-header-list">
								<li id="travel-menu"><a href="/tags/technology">Technology</a>
										<ul class="sub-cat">
										<li><a href="/tags/science/">Science</a></li>
										<li><a href="/tags/trends">Trends</a></li>
										<li><a href="/tags/future/">Future</a></li>
									</ul>
								</li>
								<li id="motherhood-menu"><a href="/tags/lifestyle">LifeStyle</a>
									<ul class="sub-cat">
										<li><a href="/tags/entertainment/">Entertainment</a></li>
										<li><a href="/tags/culture/">Culture</a></li>
										<li><a href="/tags/Spiriturality/">Spiriturality</a></li>
										<li><a href="/tags/QandA/">Q&A</a></li>
										<li><a href="/tags/my-world/">My Taught</a></li>
									</ul>
								</li>
							<li class= "about">
                              <a href="/about/">about</a>
                              <ul class="sub-cat">
								<li><a href="/about#team">The Team</a></li>
								<li><a href="/about#contact">Contact</a></li>
                              </ul>
                          </li>
                          <li class="search-trigger"><i class="icon-search-desktop"></i></li></div>
                      </ul>  
                      <ul class="mobile-nav">
                          <li class="nav-trigger"><i class="icon-menu"></i></li>
                          <div class="header-logo"><a href="/" class="logo"><img src="/logo.jpg" alt="Site Logo"></a></div>                          <li class="search-trigger"><i class="icon-search-mobile"></i></li>
                      </ul>                    
                    </div>
                    
                </nav>
            </div>
            <div class="mobile-header-nav" >
            <div class="overlay-nav" role="navigation">
                <ul class = "mobile-header-list">
                    <li id="Style-mobile-menu"><a href="/tags/business">Business</a>
						<ul class="mobile-sub-cat">
							<li><a href="/tags/economy">Economy</a></li>
							<li><a href="/tags/market">Market</a></li>
							<li><a href="/tags/Coronavirus">Corona Virus</a></li>
							<li><a href="/tags/compaines">Companies</a></li>
							<li><a href="/tags/finance">Finance</a></li>
						</ul>
				</li>
					<li id="Design-mobile-menu"><a href="/tags/eassy">Eassy</a>
						<ul class="mobile-sub-cat">
							<li><a href="/tags/term-paper/">Term Papers</a></li>
							<li><a href="/tags/research">Research</a></li>
							<li><a href="/tags/favorite-books/">Favorite Books</a></li>
						</ul>
					</li>
					<li id="Food-mobile-menu"><a href="/tags/world">World</a>
						<ul class="mobile-sub-cat">
							<li><a href="/tags/nigeria">Nigeria</a></li>
							<li><a href="/tags/africa/">Africa</a></li>
							<li><a href="/tags/asia/">Asia</a></li>
							<li><a href="/tags/europe/">Europe</a></li>
							<li><a href="/tags/britain/">Britain</a></li>
							<li><a href="/tags/america/">America</a></li>
							<li><a href="/tags/middle-east/">Middle East</a></li>
						</ul>
					</li>
					<li id="Travel-mobile-menu"><a href="/tags/technology">Technology</a>
						<ul class="mobile-sub-cat">
							<li><a href="/tags/science/">Science</a></li>
							<li><a href="/tags/trends">Trends</a></li>
							<li><a href="/tags/future/">Future</a></li>
						</ul>
					</li>
					<li id="Motherhood-mobile-menu"><a href="/tags/LifeStyle/">LifeStyle</a>
						<ul class="mobile-sub-cat">
							<li><a href="/tags/entertainment/">Entertainment</a></li>
							<li><a href="/tags/culture/">Culture</a></li>
							<li><a href="/tags/Spiriturality/">Spiriturality</a></li>
							<li><a href="/tags/QandA/">Q&A</a></li>
							<li><a href="/tags/my-world/">My Taught</a></li>
						</ul>
					</li>
					<li class= "about">
                        <a href="/about">About</a>
                        <ul class="mobile-sub-cat">
                            <li><a href="/about#team">The Team</a></li>
                            <li><a href="/about#contact">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-dropdown">
            <div class="home-page-container">
                <h2>Search:</h2>
                <form method="post" id="searchform" action="/search">
					<input type="text" class="field" name="value" id="s" placeholder="What are you looking for ?" />
					<button type="submit" class="submit" name="submit" id="searchsubmit"><i class="icon-search"></i></button>
				</form>
			</div>
        </div>
		</header><!-- #branding -->
	  <!-- Not Sorted -->
        
        <!-- #access -->
        
		<div id="main">
<section id="primary" role="main">

			
		<header class="entry-header">
	<h1 class="archive-title category-title">
		<%=custom.siteH%>	</h1>
</header><!-- .page-header -->
<input type="hidden" id="pageId" value= "1309"></input>			<div class="all-content">
		<div id="content" class="post-grid">
			
						
	<% var num = 1%>
	<%data.forEach((value)=>{%>
		<% var d = new Date(value.date)%>	
				<!-- Article Start -->
<article  class="article article-search" class="post-262122 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-weekend">
	<div class="entry-content">
		<a href="/story/<%= value._id%>"><div class="feature-image" style="background-image: url(<%= value.image%>);background-position: top; background-size: cover; "></div></a>
<footer class="entry-meta hidden-post-footer" id="design">
	<span class="entry-date"><%= dayjs(value.date).format('MMMM D, YYYY')%></span>
	
		</footer><!-- #entry-meta -->			</div><!-- .entry-content -->
	

	<header class="entry-header" >

		<div class="entry-header-content">
				<input type="hidden" id="authId" value= "2"></input>		<h2><a href="/story/<%= value._id%>" title="Permalink to <%= value.title%>." rel="bookmark"><%= value.title%>.</a>
		</h2>
		<h4>
			<div class="excerpt"><p><%= value.preview%>.</p>
</div>
		</h4>
		</div>
	</header><!-- .entry-header -->

	
	
	
</article>
<!-- Article End -->
			
<%num +=1%>
<%});%> 
			
<% if(custom.popularMobile == true){%>
				<div class="popular-side-bar-mobile">
																		<div class="widget popular">
					<h4 class="widget-title widget-cat-title">Quick Access</h3>
					<h3 class="widget-title">Others Are Reading</h3>
					<div class="most-pop-slider">
													<div>
								<h3>01</h3>
								<h2><a href="/story/<%= data[-1]._id%>"><%= data[-1].title%></a></h2>
							</div>
													<div>
								<h3>02</h3>
								<h2><a href="/story/<%= data[-2]._id%>"><%= data[-2].title%></a></h2>
							</div>
													<div>
								<h3>03</h3>
								<h2><a href="/story/<%= data[-3]._id%>"><%= data[-3].title%></a></h2>
							</div>
							</div>

				</div>
			   
    	    
						<article class="post"></article>
						<article class="post"></article>
									</div>
									<%}%>

			
				

</div>
<% if(custom.popularSystem == true){%>
		<div class="popular-side-bar">
														<div class="widget popular">
					<h4 class="widget-title widget-cat-title">Quick Access</h3>
					<h3 class="widget-title">Others Are Reading</h3>
					<div class="most-pop-slider">
						<div>
							<h3>01</h3>
							<h2><a href="/story/<%= data[-1]._id%>"><%= data[-1].title%></a></h2>
						</div>
												<div>
							<h3>02</h3>
							<h2><a href="/story/<%= data[-2]._id%>"><%= data[-2].title%></a></h2>
						</div>
												<div>
							<h3>03</h3>
							<h2><a href="/story/<%= data[-3]._id%>"><%= data[-3].title%></a></h2>
						</div>
											</div>

				</div>
			   
    	    				<div id="secondary" class="widget-area" role="complementary">
					
																				</div>
					</div>
					<%}%>
						<!-- </div>
	<div id="loading" style="display:none;">
            <p class="text-center"><img src="/assets/css/images/loading.gif"></p>
	</div>
	<nav id="nav-below">
	<div class="nav-previous"><a>LOAD PREVIOUS ARTICLES</a></div>
	</nav> -->
	<!-- #nav-above -->

		
</section><!-- #primary -->


		</div><!-- #main -->

</div><!-- #page -->





<footer id="site-footer" role="contentinfo">
	<div class="footer-container">
		<% if(custom.footerMessage == true){%>
		<div class="footer-top-section">
			<h1 class="footer-top-headline">Our Brief Story </h1>
			<p class="footer-top-description">
				<%=custom.footerM%>
				<span><a href="/about/"><em>Read More</em></a></span>
			</p>
		</div>
		<%}%>
		<div class="footer-navigators">
			<!-- Begin MailChimp Signup Form -->
<div class="mc_embed_signup row">
	<div class="col span_6 pull-left">
		<h2>Brighten up your inbox</h2>
	</div>
	<div class="col span_6">
		<form action="/subx" method="post" class="mc-embedded-subscribe-form custom-mailchimp-form" name="mc-embedded-subscribe-form" target="_blank">
		    <div class="mc_embed_signup_scroll">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Join Our Newsletter">
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_fcb79ce014877ec8ab07ef66c_309a15c5f3" tabindex="-1" value=""></div>
			    <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
		    </div>
		</form>
		<div class="clear mce-responses">
			<div class="response mce-error-response" style="display:none"></div>
			<div class="response mce-success-response" style="display:none"></div>
		</div> 
	</div>
	<div class="footer-social-icons">
											<a href="https://www.facebook.com/vitaread" target="_blank" class="social-link facebook">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" style="height: 15px;width: 15px;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve"><path d="M374.245,285.825l14.104,-91.961l-88.233,0l0,-59.677c0,-25.159 12.325,-49.682 51.845,-49.682l40.117,0l0,-78.291c0,0 -36.408,-6.214 -71.214,-6.214c-72.67,0 -120.165,44.042 -120.165,123.775l0,70.089l-80.777,0l0,91.961l80.777,0l0,222.31c16.197,2.542 32.798,3.865 49.709,3.865c16.911,0 33.512,-1.323 49.708,-3.865l0,-222.31l74.129,0Z" style="fill:#F9F7F4;fill-rule:nonzero;"/></svg>
						</a>
											<a href="https://twitter.com/vitaread" target="_blank" class="social-link twitter">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" style="height: 15px;width: 15px;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve"><rect height="400" style="fill:none;" width="400" x="56" y="56"/><path d="M161.014,464.013c193.208,0 298.885,-160.071 298.885,-298.885c0,-4.546 0,-9.072 -0.307,-13.578c20.558,-14.871 38.305,-33.282 52.408,-54.374c-19.171,8.495 -39.51,14.065 -60.334,16.527c21.924,-13.124 38.343,-33.782 46.182,-58.102c-20.619,12.235 -43.18,20.859 -66.703,25.498c-19.862,-21.121 -47.602,-33.112 -76.593,-33.112c-57.682,0 -105.145,47.464 -105.145,105.144c0,8.002 0.914,15.979 2.722,23.773c-84.418,-4.231 -163.18,-44.161 -216.494,-109.752c-27.724,47.726 -13.379,109.576 32.522,140.226c-16.715,-0.495 -33.071,-5.005 -47.677,-13.148l0,1.331c0.014,49.814 35.447,93.111 84.275,102.974c-15.464,4.217 -31.693,4.833 -47.431,1.802c13.727,42.685 53.311,72.108 98.14,72.95c-37.19,29.227 -83.157,45.103 -130.458,45.056c-8.358,-0.016 -16.708,-0.522 -25.006,-1.516c48.034,30.825 103.94,47.18 161.014,47.104" style="fill:#F9F7F4;fill-rule:nonzero;"/></svg>
						</a>
											<a href="https://www.instagram.com/vitaread" target="_blank" class="social-link instagram">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" height="100%" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;height: 15px;width: 15px;" version="1.1" viewBox="0 0 512 512" width="100%" xml:space="preserve"><g style ="/* fill: white; */"></g><path d="M256,0c-69.526,0 -78.244,0.295 -105.549,1.541c-27.248,1.243 -45.858,5.57 -62.142,11.899c-16.834,6.542 -31.111,15.296 -45.342,29.528c-14.232,14.231 -22.986,28.508 -29.528,45.342c-6.329,16.283 -10.656,34.893 -11.899,62.141c-1.246,27.305 -1.54,36.023 -1.54,105.549c0,69.524 0.294,78.242 1.54,105.547c1.243,27.248 5.57,45.858 11.899,62.141c6.542,16.834 15.296,31.111 29.528,45.344c14.231,14.231 28.508,22.985 45.342,29.527c16.284,6.328 34.894,10.656 62.142,11.899c27.305,1.245 36.023,1.54 105.549,1.54c69.524,0 78.242,-0.295 105.547,-1.54c27.248,-1.243 45.858,-5.571 62.141,-11.899c16.834,-6.542 31.111,-15.296 45.344,-29.527c14.231,-14.233 22.985,-28.51 29.527,-45.344c6.328,-16.283 10.656,-34.893 11.899,-62.141c1.245,-27.305 1.54,-36.023 1.54,-105.547c0,-69.526 -0.295,-78.244 -1.54,-105.549c-1.243,-27.248 -5.571,-45.858 -11.899,-62.141c-6.542,-16.834 -15.296,-31.111 -29.527,-45.342c-14.233,-14.232 -28.51,-22.986 -45.344,-29.528c-16.283,-6.329 -34.893,-10.656 -62.141,-11.899c-27.305,-1.246 -36.023,-1.541 -105.547,-1.541Zm0,46.127c68.354,0 76.451,0.26 103.445,1.492c24.959,1.139 38.514,5.309 47.535,8.814c11.949,4.644 20.477,10.192 29.435,19.15c8.959,8.958 14.506,17.487 19.15,29.435c3.506,9.021 7.676,22.576 8.815,47.535c1.231,26.995 1.492,35.092 1.492,103.447c0,68.354 -0.261,76.451 -1.492,103.445c-1.139,24.959 -5.309,38.514 -8.815,47.535c-4.644,11.949 -10.191,20.477 -19.15,29.435c-8.958,8.959 -17.486,14.506 -29.435,19.15c-9.021,3.506 -22.576,7.676 -47.535,8.814c-26.99,1.232 -35.086,1.493 -103.445,1.493c-68.361,0 -76.455,-0.261 -103.447,-1.493c-24.959,-1.138 -38.514,-5.308 -47.535,-8.814c-11.949,-4.644 -20.477,-10.191 -29.436,-19.15c-8.958,-8.958 -14.506,-17.486 -19.149,-29.435c-3.506,-9.021 -7.676,-22.576 -8.815,-47.535c-1.232,-26.994 -1.492,-35.091 -1.492,-103.445c0,-68.355 0.26,-76.452 1.492,-103.447c1.139,-24.959 5.309,-38.514 8.815,-47.535c4.643,-11.948 10.191,-20.477 19.149,-29.435c8.959,-8.958 17.487,-14.506 29.436,-19.15c9.021,-3.505 22.576,-7.675 47.535,-8.814c26.995,-1.232 35.092,-1.492 103.447,-1.492Z" style="fill:url(#_Linear1);fill-rule:nonzero;fill: #F9F7F4;"></path><path d="M256,341.332c-47.129,0 -85.334,-38.205 -85.334,-85.332c0,-47.129 38.205,-85.334 85.334,-85.334c47.127,0 85.332,38.205 85.332,85.334c0,47.127 -38.205,85.332 -85.332,85.332Zm0,-216.792c-72.604,0 -131.46,58.856 -131.46,131.46c0,72.602 58.856,131.458 131.46,131.458c72.602,0 131.458,-58.856 131.458,-131.458c0,-72.604 -58.856,-131.46 -131.458,-131.46Z" style="fill:url(#_Linear2);fill-rule:nonzero;fill: #F9F7F4;"></path><path d="M423.372,119.346c0,16.967 -13.754,30.72 -30.72,30.72c-16.966,0 -30.72,-13.753 -30.72,-30.72c0,-16.966 13.754,-30.719 30.72,-30.719c16.966,0 30.72,13.753 30.72,30.719Z" style="fill:url(#_Linear3);fill-rule:nonzero;fill: #F9F7F4;"></path></g><defs><linearGradient gradientTransform="matrix(-149.618,494.3,-494.3,-149.618,300.81,-27.1283)" gradientUnits="userSpaceOnUse" id="_Linear1" x1="0" x2="1" y1="0" y2="0"><stop offset="0" style="stop-color:#515bd4;stop-opacity:1"></stop><stop offset="0.26" style="stop-color:#9510b8;stop-opacity:1"></stop><stop offset="0.66" style="stop-color:#e51804;stop-opacity:1"></stop><stop offset="1" style="stop-color:#feda77;stop-opacity:1"></stop></linearGradient><linearGradient gradientTransform="matrix(-149.618,494.3,-494.3,-149.618,300.81,-27.1283)" gradientUnits="userSpaceOnUse" id="_Linear2" x1="0" x2="1" y1="0" y2="0"><stop offset="0" style="stop-color:#515bd4;stop-opacity:1"></stop><stop offset="0.26" style="stop-color:#9510b8;stop-opacity:1"></stop><stop offset="0.66" style="stop-color:#e51804;stop-opacity:1"></stop><stop offset="1" style="stop-color:#ffbf00;stop-opacity:1"></stop></linearGradient><linearGradient gradientTransform="matrix(-149.618,494.3,-494.3,-149.618,300.81,-27.1283)" gradientUnits="userSpaceOnUse" id="_Linear3" x1="0" x2="1" y1="0" y2="0"><stop offset="0" style="stop-color:#515bd4;stop-opacity:1"></stop><stop offset="0.26" style="stop-color:#9510b8;stop-opacity:1"></stop><stop offset="0.66" style="stop-color:#e51804;stop-opacity:1"></stop><stop offset="1" style="stop-color:#ffffff;stop-opacity:1"></stop></linearGradient></defs></svg>
						</a>
									</div>
</div>
<!--End mc_embed_signup-->			<div class="footer-categories">
			<div class="menu-footer-container">
				<ul id="menu-footer" class="menu">
					<li><a href="/About" title="About">About</a></li>
					<li><a href="/Contact" title="Contact">Contact</a></li>
					<li><a href="/Sitemap/" title="Sitemap">Sitemap</a></li>
					<li><a href="/Search/" title="Search">Search</a></li>		
				</ul>
			</div>
				<p class="copyright"> <%=custom.date%></p>
			</div>
			<div class="footer-bottom-copyrgiht">
				<p> <%=custom.date%></p>
			</div>
		</div>
			</div>
</footer><!-- #colophon -->

	</div><!-- end container -->
	<div id="post_content"></div>
	<div class="hidden">
		<input type="hidden" id="scroll-position">
		<input type="hidden" id="back-enable" value="0">
		<input type="hidden" id="back-url">
		<input type="hidden" id="forward-url">
		<input type="hidden" id="home-title">
		<input type="hidden" id="article-title">
	</div>
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script>
	var $ = jQuery;
	$(function(){
		"use strict";
		window.addEventListener('popstate', function(e){
		  	var character = e.state;

			if (character == null) {
			  document.title = 'Default title';
			  backCategory();
			  document.title = $('#home-title').val();
			} else {
			  forwardArticle();
			  document.title = $('#article-title').val();
			}
		});

		function backCategory(){
			$('#main #temp-container').fadeOut('slow', function() {
			  	$('#main #save-grid').fadeIn('fast', function() {
			  		$(document).scrollTop($('#scroll-position').val());
			  	});
			});
		}

		function forwardArticle(){
			$('#main #save-grid').fadeOut('slow', function() {
			  	$('#main #temp-container').fadeIn('fast');
			});
			$(document).scrollTop(0);
		}

		function loadArticle(target_url){
			$.ajax({
				url: target_url,
				beforeSend: function(){
					$('#main #save-grid').fadeOut('slow', function(){
						$('#main #secondary').hide();
						$('#main .ad-area').hide();
						$('#loading').fadeIn('slow');
					});
				},
				success:function(data) {
					//$('#post_content').html(data);
					$('#main #temp-container').html($(data).find('#primary').html());
					//$('#main #secondary').html();
					$('#loading').fadeOut('slow', function(){
						$('#main #temp-container').show();
						$('#main #secondary').show();
						$('#main .ad-area').show();
						//$('#main #secondary').html();
						//$('#main #secondary', $.parseHTML(data))
					});

					var url = window.location.href;
					$('#forward-url').val(url);
					$(document).scrollTop(0);
				},
			});
		}
	});
</script>


<script>
//<!--
searchDisplay();
utility();
mailChimp();
//-->
</script>
<script>
	$(document).ready(function(){
		 var highestBox = 0; // Cache the highest
		 $('.most-commented-module h2').css('height', 'auto');
	     $('.most-commented-post').each(function(){  
		      // Select and loop the elements you want to equalise
		      $('h2', this).each(function(){	        
		        // If this box is higher than the cached highest then store it
		        if($(this).height() > highestBox) {
		          highestBox = $(this).height(); 
		        }	      
		      });  	            
		      // Set the height of all those children to whichever was highest      
		 }); 
		 $('.most-commented-module h2').height(highestBox);
		 // 

	 	 $(window).on('resize', function(){
	 	  var win = $(this); //this = window
	 	  var highestBox = 0; // Cache the highest
	 	  $('.most-commented-module h2').css('height', 'auto');
	       $('.most-commented-post').each(function(){  
	 	       // Select and loop the elements you want to equalise
	 	       $('h2', this).each(function(){	        
	 	         // If this box is higher than the cached highest then store it
	 	         if($(this).height() > highestBox) {
	 	           highestBox = $(this).height(); 
	 	         }	      
 	        });  	            
	 	      // Set the height of all those children to whichever was highest      
	 	 }); 
	 	 $('.most-commented-module h2').height(highestBox);
	 	});

	});
	
</script>


<script type="text/javascript" src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
	// Script animation header
	const body = document.body;
	const nav = document.querySelector("#site-header nav");
	const menu = document.querySelector("#site-header .menu");
	const lottiePlayer = document.querySelector("lottie-player");
	const scrollUp = "scroll-up";
	const scrollDown = "scroll-down";
	let lastScroll = 0;
	 
	window.addEventListener("scroll", () => {
	  const currentScroll = window.pageYOffset;
	  if (currentScroll <= 0) {
	    body.classList.remove(scrollUp);
	    return;
	  }
	 
	  if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
	    body.classList.remove(scrollUp);
	    body.classList.add(scrollDown);
	    lottiePlayer.play();
	  } else if (
	    currentScroll < lastScroll &&
	    body.classList.contains(scrollDown)
	  ) {
	    // up
	    body.classList.remove(scrollDown);
	    body.classList.add(scrollUp);
	    lottiePlayer.stop();
	  }
	  lastScroll = currentScroll;
	});

	// Script animation header
</script>



<script>
    jQuery(document).ready(function() {
        const sponsoredPost = jQuery("body.single #main article.category-sponsored");
        if (sponsoredPost.length > 0) {
            jQuery("body").addClass("sponsored-post");
        }
    });
</script><script type='text/javascript' id='infinite-scroll-js-extra'>
/* <![CDATA[ */
var infinite_scroll = "{\"loading\":{\"msgText\":\"<img src=\"\/assets\/css\/images\/loading.gif\" alt=\\\"\\\" width=\\\"220\\\" height=\\\"19\\\" class=\\\"alignleft size-full wp-image-46025\\\" \\\/><em>Loading...<\\\/em>\",\"finishedMsg\":\"\",\"img\":\"\/assets\/css\/images\/loading.gif\"},\"nextSelector\":\"#nav-below a\",\"navSelector\":\"#nav-below\",\"itemSelector\":\"article.post,.grid-item\",\"contentSelector\":\".category #content\",\"debug\":false,\"behavior\":\"\",\"callback\":\"jQuery(document).ready(function($){\\r\\n$('#infscr-loading').remove();\\r\\n$('.grid-item-placeholder').insertAfter('.grid-item:last-of-type');\\r\\n$('.post-grid').css('text-align','justify');\\r\\n});\"}";
/* ]]> */
</script>
<script type='text/javascript' src='/assets/js/jquery.infinitescroll.js?ver=455882153' id='infinite-scroll-js'></script>
<script type='text/javascript' src='/assets/js/intersection-observer.js?ver=265141667' id='jetpack-lazy-images-polyfill-intersectionobserver-js'></script>
<script type='text/javascript' id='jetpack-lazy-images-js-extra'>
/* <![CDATA[ */
var jetpackLazyImagesL10n = {"loading_warning":"Images are still loading. Please cancel your print and try again."};
/* ]]> */
</script>
<script type='text/javascript' src='/assets/js/lazy-images.js?ver=466167182' id='jetpack-lazy-images-js'></script>
<script type="text/javascript">
// Because the `wp_localize_script` method makes everything a string
infinite_scroll = jQuery.parseJSON(infinite_scroll);

jQuery( infinite_scroll.contentSelector ).infinitescroll( infinite_scroll, function(newElements, data, url) { eval(infinite_scroll.callback); });
</script>
</div> </body>
</html>
